body{
    background-color: rgba(44, 119, 180, 0.861);
}
.card-header{
    background-color: rgb(251, 183, 166);
    text-align: center;
}
.card-body{
    background-color: bisque;
}
.card-footer{
    background-color: rgb(255, 204, 192);
}
p{
    font-size: medium;
    font-family: Helvetica;
}
.mt-4{
    font-family: Helvetica;
}